upstream node_app {
    server localhost:{{node_port}};
}

server {
    server_name {{main_domain}};
    listen {{main_port}};

    root {{main_dir}};

    location / {
        root {{main_dir}}/static-files;
        try_files $uri $uri/index.html =404;
    }


    location ~ \.jpg$ {
       try_files $uri $uri/index.html =404;
    }

    location ^~ /new-php/ {
        include /etc/nginx/fastcgi_params;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME {{main_dir}}/php-app/index.php;
        fastcgi_pass unix:{{php_fpm_socket}};
    }

    location ~ \.php$ {
        include /etc/nginx/fastcgi_params;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass unix:{{php_fpm_socket}};
    }

    location /node/ {
        proxy_set_header From-who 'my-app';
        proxy_set_header Host            'testx';
        proxy_pass http://node_app;
    }
}