user www-data;
worker_processes auto;
pid /run/nginx.pid;

events { }

http {

    include /etc/nginx/mime.types;

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    gzip on;

	include /etc/nginx/conf.d/*.conf;
}

