[Unit]
Description=NodeJs app for devops lessons

[Service]
User=www-data
WorkingDirectory=/home/kfuntov/devops_lessons/node-app
Environment=PORT={{node_port}}
ExecStart=/usr/bin/node index.js
Restart=always

[Install]
WantedBy=multi-user.target
